:root {
    --altura-imagen: 90px;
    --anchura-imagen: calc(900px / 10);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: lightskyblue;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.numero {
    width: var(--anchura-imagen);
    height: var(--altura-imagen);
    border: solid 1px red;
    background-image: url(./sprite_numeros.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
}