:root {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(245, 245, 220);
}

h1 {
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
}

#parrafo1 {
    color: darkblue;
}

.parrafo-negrita {
    font-weight: bold;
    font-size: 1.2rem;
}

p#parrafo1 {
    text-decoration: line-through;
}

p.parrafo-negrita {
    border: double 20px black;
}

p#parrafo1.parrafo-negrita {
    background-color: aqua;
}

/* *.parrafo-negrita {
    text-decoration-line: overline;
    text-decoration-color: chartreuse;
} */

/* dentro */
div .parrafo-negrita {
    text-decoration-line: line-through;
    text-decoration-color: chartreuse;
}

/* hijo */
div>.parrafo-negrita {
    text-decoration-line: line-through;
    text-decoration-color: red;
}

div [data-mensaje="si"] {
    background-color: violet;
}

/* hermano siguiente, adjacent sibling */
p+.parrafo-negrita {
    background-color: black;
    font-size: 1rem;
}

/* hermanos siguientes, general sibling */
p~.parrafo-virgulilla {
    text-decoration: line-through;
}